@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0
    ;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
  
}

body {
    background: #0c192c;
    overflow-x: hidden;
    color: #ededed;
}








.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour le header */
    transition: 0.3s; /* Animation de transition */
}
.logo img {
    width: 160px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Cela permet de conserver les proportions */
}

.logo ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;

}

.navbar a {
   
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
transition: .3s;
}
.navbar a:hover,
.navbar a.active
 {

    color: #601cfc;
}

.home  {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('1.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.home-content {

max-width: 600px;

}
.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    text-align: right;
}



.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #601cfc;
    text-align: right;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;

}
.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
    text-align: right;
  
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;


}
.home-content .btn-box::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .9s; 
    z-index: 2;
}
.btn-box a {
    position: relative;
 align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #601cfc;
    border: 2px solid #601cfc;
    font-size: 19px;
text-decoration: none;
color: #ededed;
font-weight: 600;
    border-radius:8px ;
z-index: 1;
    letter-spacing: 1px;
    overflow: hidden;
}
.btn-box a::before 
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
z-index: -1;
transition: .5s;
background:#0c192c;
}
.btn-box a:hover::before 
{
width: 100%;

}


.btn-box a:hover{
    color: #601cfc;
} 

.home-sci{
 
    position: absolute;
    bottom: 40px;
    width:170px ;
    display: flex;
    justify-content: space-between;
   
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .9s; 
    z-index: 2;
}
.home-sci  a{
    position: relative;
display: inline-flex;
justify-content: center
;
color: #ededed;
align-items: center;
height: 40px;
width: 40px;
background: transparent;
border: 2px solid #601cfc;
border-radius: 50%;
font-size: 20px;
text-decoration: none;
z-index: 1;
overflow: hidden;
transition: .5s;
}
.home-sci a::before {
    content: '';
    position:absolute;
    top: 0;left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #601cfc;

}
.home-sci a:hover::before {
    width: 100%;

}




@keyframes showRight{
    100% {
        width: 0;

    }
}



.heading{
    font-size: 4rem;
    margin-bottom: 0.5rem;
    text-align: center;
    animation: slideLeft 2s ease forwards;
}


.headingh2{
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    animation: slideLeft 2s ease forwards;
}



@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

span{
    color:#601cfc;
}

  .btn-box .btns {
    display: inline-block;
    width: 15rem;


  }
  .btn-box .btns a::before {
    background: #601cfc;
  }

#Services .active{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    animation: slideLeft 2s ease forwards;
}

  .container {
    padding: 90px;

  }
  .Services-list {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
grid-gap:40px;
margin-top: 50px;
text-align: right;

  }

  .Services-list div{
background-color: transparent;
padding: 40px;
font-size: 13px;
font-weight: 13px;
border-right: 10px;
border-radius: 20px
;
transition: background 0.5s, transform 0.5s;
box-shadow: 1px 1px  20px #601cfc,1px 1px 40px #fff;

  }


  .Services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

  }
 
  .Services-list div h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #601cfc;
    
  }
  



  .Services-list div p {
    font-size: 16px;
    color: #ededed; /* Couleur du texte du paragraphe */
    margin-top: 10px; /* Espacement par rapport au titre */
}




  .Services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #601cfc;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
  
    box-shadow: 0 0 5px #601cfc, 0 0 25px #601cfc;
  
}

.Services-list div:hover{
    transform: translateY(-10px
    );
}
@keyframes slidetop {
    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}






.home img {
    width: 40%; /* Ajustez la largeur de l'image à droite selon vos besoins */
    transform: perspective(1000px) rotateY(0deg); /* Appliquez une perspective et une rotation initiale */
    transition: transform 0.5s ease; /* Ajoutez une transition fluide */
}

.home:hover img {
    transform: perspective(1000px) rotateY(45deg); /* Au survol, effectuez une rotation de 45 degrés */
}



.main-text{
    padding-top: 130px;
    margin-top: 200px;

}
.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span {
    color: #601cfc ;
}


       /* Styles pour la section project */
       .project {
        background-color:transparent; /* Couleur de fond de la section */
        padding: 80px 0;
      }
      
      .project .main-text {
        text-align: center;
      }
      
      .project .main-text .heading {
        font-size: 28px;
        font-weight: 700;
      }
      
      .project .portfolio-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 40px;
      }
      
      .project .row {
        position: relative;
        overflow: hidden;
        margin: 0 10px 20px;
        max-width: 300px;
        background-color:#0c192c;
        border-radius: 8px;
        box-shadow: 0 0 5px #601cfc, 0 0 25px #fff;
       

        transition: transform 0.3s ease;
      }
      
      .project .row:hover {
        transform: translateY(-5px);
      }
      
      .project .row img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px 8px 0 0;
      }
      
      .project .layer {
        padding: 20px;
      }
      
      .project .layer h5 {
        font-size: 20px;
        font-weight: 700;
        color: #601cfc;
      }
      
      .project .layer p {
        font-size: 16px;
        margin-top: 10px;
        text-align: right;
    
      }
      
      .project .layer a {
        display: block;
        margin-top: 20px;
        text-decoration: none;
        color: #007bff;
        transition: color 0.3s;
      }
      
      .project .layer a:hover {
        color: #0056b3;
      }
      
      
            
      .reserve-button {
        display: none;
        background-color: transparent;
        color: #601cfc;
        border: 2px solid #601cfc;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        padding: 8px 20px;
        font-size: 16px;
        margin: 2rem;
    }
    
    .reserve-button.show {
        display: inline-block;
        background-color:transparent;
        color: #fff;
        transform: scale(1.05); /* Animation d'agrandissement */
        box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3); /* Ombre pour l'effet de flottement */
    }
    
    .reserve-button:hover {
        background-color:#601cfc; /* Couleur au survol */
    }
    




   .modern-title {
    font-size: 2rem;
    color: transparent;
    background: linear-gradient(45deg, #3498db, #e74c3c);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: moveAndChangeColor 5s linear infinite;
}

@keyframes moveAndChangeColor {
    0% {
        background-position: 0 0;
        color: transparent;
        transform: translateX(0);
    }
    50% {
        background-position: 100% 100%;
        color: #3498db;
        transform: translateX(10px);
    }
    100% {
        background-position: 0 0;
        color: transparent;
        transform: translateX(0);
    }
}




.content-text {
    text-align: center; /* Pour centrer le texte horizontalement */
    font-size: 18px; /* Taille de la police */
    color: #fff; /* Couleur du texte */
    padding: 20px; /* Marge intérieure pour l'espace autour du texte */
    background-color:transparent; /* Couleur de fond du paragraphe */
    /* Bordure du paragraphe */
    white-space: normal;
    border-radius: 10px; /* Rayon de la bordure pour des coins arrondis */
    transition: transform 0.3s, background-color 0.3s, color 0.3s; /* Animation de l'agrandissement, la couleur de fond et la couleur du texte */
}

.content-text:hover {
    transform: scale(1.1); /* Agrandir le texte au survol */
    background-color: #601cfc; /* Couleur de fond au survol */
    color: #fff; /* Couleur du texte au survol */
    cursor: pointer; /* Curseur de souris en forme de main au survol */
}


.animated-heading {
    animation: colorChange 3s infinite; /* Applique l'animation "colorChange" de 3 secondes en boucle infinie */
}

@keyframes colorChange {
    0% {
        color: #3498db; /* Couleur de départ */
    }
    25% {
        color: #601cfc /* Première couleur de changement */
    }
    50% {
        color: #3b5998; /* Deuxième couleur de changement */
    }
 
    100% {
        color: #3498db; /* Retour à la couleur de départ */
    }
}




section {
   
  
    transition: transform 0.5s, opacity 0.5s;
    transform: translateX(100%);
    opacity: 0;
}




/* Barre de défilement verticale */
::-webkit-scrollbar {
    width: 12px;
}

/* Poignée (thumb) de la barre de défilement */
::-webkit-scrollbar-thumb {
    background-color: #0c192c; /* Changez la couleur ici */
    border-radius: 10px;
}

/* Barre de défilement track (arrière-plan) */
::-webkit-scrollbar-track {
    background: #0c192c; /* Changez la couleur ici */
}

/* Barre de défilement track (lorsque survolée) */
::-webkit-scrollbar-thumb:hover {
    background-color: #601cfc; /* Changez la couleur ici */
}



.menu-icon {
    display: none;
}



/* Styles pour les écrans mobiles */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar {
        display: none;
        flex-direction: column;
        background-color: #0c192c;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: right;

    }

    .navbar.active {
        display: flex;
    }

    .navbar-link {
        margin-right: 0;
        padding: 10px;
    }
}




.language-selector {
    position: relative;
    display: inline-block;
}

#language-icon {
    cursor: pointer;
    font-size: 24px;
}

#language-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    color: #f2f2f2;
    background-color:#0c192c;
    border: 1px solid #601cfc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Ajoutez une transition fluide */
    opacity: 0;
    transform: scaleY(0); /* Initialement masqué */
    transform-origin: top;
}

#language-dropdown.active {
    display: block;
    opacity: 1;
    transform: scaleY(1); /* Afficher avec une animation de transition */
}

#language-dropdown option {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

#language-dropdown option:hover {
    background-color: #f2f2f2;
}









.inscription-section {
    background: transparent;
    padding: 80px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
}

.inscription-steps {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.inscription-step {
    flex: 1;
    max-width: 300px;
    background: transparent;
    padding: 20px;
    border: 2px solid #601cfc;
    border-radius: 10px;
    text-align: center;
   
    box-shadow: 1px 1px  20px #601cfc,1px 1px 40px #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.inscription-step:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fa {
    font-size: 36px;
    color: #601cfc;
    margin-bottom: 10px;
}

h3 {
    font-size: 28px;
    color: #fff;
}

p {
    font-size: 20px;
    color: #ededed;
    text-align: right;
}






.home-container{
   
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.profile-card{
    position: relative;
    width: 220px;
    height: 220px;
    
    background:repeating-conic-gradient(from var(--a), #9a215b,0%,#9a215b 5%,
    transparent 5%,transparent 40%, #9a215b 50%);
    animation: animatecard 4s linear infinite;
    padding: 30px;
    border-radius: 50%;
      
    box-shadow: 0 0 5px #601cfc, 0 0 25px #601cfc;
  
    transition: all .4s;
    margin: 0 20px;

}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animatecard  {
    0%{
        --a:0deg
    }

   100%{
        --a:360deg
    }

}


.profile-card:hover{
    border-radius: 10px;
    height: 260px;
}
.profile-card .imgteam{
    position: relative;
    width: 100%;
    height: 100%;
}
.profile-card:hover img{
    border-radius: 10px;
    transform: translateY(-70px);
}
.imgteam img{
    object-fit: fill;
    width: 100%;
    border-radius: 50%;
    transition: all .4s;
    z-index: 99;
}
.captionteam{
    text-align: center;
    transform: translateY(-90px);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}
.profile-card:hover .captionteam{
    opacity: 1;
    pointer-events: all;
}
.captionteam h3{
    font-size: 21px;
    color: #601cfc;
    font-weight: 600;
}
.captionteam p{
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
    color: #fff;
}



.captionteam .social-links i{
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color:#fff;
    transition: all .4s;
    border: 2px solid #9a215b;
    border-radius: 50%;
    box-shadow: 0 0 5px #9a215b, 0 0 25px #fff;

}
.captionteam .social-links i:hover{
    color: #ededed;
}





















footer{
    background-color: #0c192c;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.containerfotter {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
.rowfotter{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}
.col .logo{
   
    right: 0;
     width: 160px; /* Ajustez la largeur du logo selon vos besoins */
     height: auto;
   margin-left: 70px;
  }
.col h3{
   color:#601cfc;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
   text-align: right;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #601cfc;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;
   text-align: right;

}
.col h3:hover::after{
   width:30px;

}

.col p {
    text-align: right;
}
.col .social a i{
   color:#601cfc;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
   margin-left: 30px;
     
   box-shadow: 0 0 5px #601cfc, 0 0 25px #fff;
}
.col .social a i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
   color: #ededed;
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
   text-align: right;
   font-size: 20px;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #601cfc;
   transition: 0.5s ease;
   opacity: 0;
   text-align: right;
}
.col .links a:hover::before{
   opacity: 1;
   text-align: right;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#601cfc;
text-align: right;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   
  right: 0%;

}




/********** Responsive Design ********/
@media(max-width:900px)
{
 .rowfotter{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 25px;
 }
}
@media(max-width:768px)
{
 .rowfotter{
   flex-direction: column;
 }
 .col{
   width: 100%;
   text-align: left;
   margin-bottom: 20px;
 }

 
}





.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    gap: 20px;
}

.glass-card {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px #601cfc, 0 0 25px #fff;
  
    width: 300px;
    height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 5px solid transparent;
    border-image: repeating-conic-gradient( #601cfc, transparent 5%, #601cfc 15%) 1;
    border-image-slice: 1;
   
}

.glass-card:hover {
    transform: scale(1.05);
}

.glass-card i {
    font-size: 40px;
    color: #601cfc;
    padding: 20px 0;
}

.glass-card h3 {
    font-size: 24px;
    color: #fff;
}

.glass-card p {
    font-size: 16px;
    color: #fff;
    text-align: right;
}


