@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0
    ;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background: #0c192c;

    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo img {
    width: 160px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto; /* Cela permet de conserver les proportions */
}

.logo ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
transition: .3s;
}
.navbar a:hover,
.navbar a.active
 {

    color: #601cfc;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('1.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.home-content {

max-width: 600px;

}
.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}



.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #601cfc;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;

}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;


}
.home-content .btn-box::before {

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .9s; 
    z-index: 2;
}
.btn-box a {
    position: relative;
 align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: #601cfc;
    border: 2px solid #601cfc;
    font-size: 19px;
text-decoration: none;
color: #ededed;
font-weight: 600;
    border-radius:8px ;
z-index: 1;
    letter-spacing: 1px;
    overflow: hidden;
}
.btn-box a::before 
{
content: '';
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
z-index: -1;
transition: .5s;
background:#0c192c;
}
.btn-box a:hover::before 
{
width: 100%;

}


.btn-box a:hover{
    color: #601cfc;
} 

.home-sci{
    position: absolute;
    bottom: 40px;
    width:170px ;
    display: flex;
    justify-content: space-between;
    
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#0c192c;
    animation: showRight 1s ease forwards;
    animation-delay: .9s; 
    z-index: 2;
}
.home-sci  a{
    position: relative;
display: inline-flex;
justify-content: center
;
color: #ededed;
align-items: center;
height: 40px;
width: 40px;
background: transparent;
border: 2px solid #601cfc;
border-radius: 50%;
font-size: 20px;
text-decoration: none;
z-index: 1;
overflow: hidden;
transition: .5s;
}
.home-sci a::before {
    content: '';
    position:absolute;
    top: 0;left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #601cfc;

}
.home-sci a:hover::before {
    width: 100%;

}


.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
 background: #0c192c;
    transition: 3s;
}

.home-imgHover:hover{
 opacity: .8;
}

@keyframes showRight{
    100% {
        width: 0;

    }
}


.about {
    display: flex;
    justify-content: center
    ;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-by-color);
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color:#601cfc;
}
.about-img{
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem  solid #601cfc;
}

  .about-content {
    text-align: center;
  }

  .about-content h3 {
    font-size: 2.6rem;
  }
  .about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }

  .btn-box .btns {
    display: inline-block;
    width: 15rem;


  }
  .btn-box .btns a::before {
    background: #601cfc;
  }

#Services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

  .container {
    padding: 90px;

  }
  .Services-list {
display: grid;
grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
grid-gap:40px;
margin-top: 50px;
  }

  .Services-list div{
background-color: transparent;
padding: 40px;
font-size: 13px;
font-weight: 13px;
border-right: 10px;
border-radius: 20px
;
transition: background 0.5s, transform 0.5s;
box-shadow: 1px 1px  20px #601cfc,1px 1px 40px #fff;

  }


  .Services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

  }
 
  .Services-list div h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  



  .Services-list div p {
    font-size: 14px;
    color: #ededed; /* Couleur du texte du paragraphe */
    margin-top: 10px; /* Espacement par rapport au titre */
}




  .Services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #601cfc;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #601cfc, 0 0 25px #601cfc;
}

.Services-list div:hover{
    transform: translateY(-10px);
}
@keyframes slidetop {
    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}






.home img {
    width: 40%; /* Ajustez la largeur de l'image à droite selon vos besoins */
    transform: perspective(1000px) rotateY(0deg); /* Appliquez une perspective et une rotation initiale */
    transition: transform 0.5s ease; /* Ajoutez une transition fluide */
}

.home:hover img {
    transform: perspective(1000px) rotateY(45deg); /* Au survol, effectuez une rotation de 45 degrés */
}
